<div class="container">
	<h1>Computer</h1>
	<form (ngSubmit)="onStep()" #compilerForm="ngForm">
		<table>
			<tr><td>
			<h2>Memory</h2>
			</td><td>
			<h2>Output</h2>
			</td>
			<tr><td>
			<textarea rows="30" class="form-control"
				[(ngModel)]="model.memory"
				ngControl="memory" #memory="ngForm" ></textarea>
			</td><td>
			<textarea rows="30" class="form-control"
				[(ngModel)]="model.output"
				ngControl="output" #output="ngForm" ></textarea>
			</td></tr><tr>
			
			<button type="submit" class="btn btn-default" [disabled]="!codeInputForm.form.valid">Step</button>
			</tr>
		</table>
	</form>
</div>
